{%load static%}
<header class="navbar navbar-dark bg-black sticky-top bg-dark flex-md-nowrap p-0 shadow">

    <a class="navbar-brand me-0 px-3" href="#"><img src="{%static 'img/logo.jpg'%}" class="rounded me-2"
            style="height: 25%; width: 25%;"></a>

    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <p class="navbar-text" id="date-time" href=""></p>
    <!-- <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"> -->
    <div class="navbar-nav">
        <div class="nav-item text-nowrap">
            {% if user.is_authenticated %}

            <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Log Out</a></li>
            {% endif %}

        </div>
    </div>
</header>